body { font-family: sans-serif; background-color: #d1d8e0; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }
.finance-container { 
    background-color: #1e3799; 
    padding: 15px 25px; 
    border-radius: 15px; 
    width: 350px; 
    height: 500px; 
    color: white; 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
}.nav-link { display: inline-block; margin-bottom: 15px; color: #a29bfe; text-decoration: none; font-size: 0.8rem; border: 1px solid; padding: 5px; border-radius: 5px; }
label { display: block; margin-top: 10px; }
input { width: 100%; padding: 5px; margin-top: 2px; border-radius: 5px; border: none; box-sizing: border-box; font-size: 0.9rem; }
button { width: 100%; margin-top: 15px; padding: 12px; background: #009432; color: white; border: none; border-radius: 5px; cursor: pointer; }
.result-box { margin-top: 15px; background: white; color: black; padding: 10px; border-radius: 5px; text-align: center; font-weight: bold; }
.player-controls { 
    display: flex; 
    gap: 5px; 
    margin-bottom: 10px; 
    justify-content: center; 
}

.player-controls button { 
    padding: 8px; 
    font-size: 0.8rem; 
    background: #34495e; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: auto; 
    min-width: 60px; 
    height: auto; 
    flex: none; 
}